body{
    background: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
canvas{
    background: #000;
}
button,input{
    background: #111;
    color: #fff;
    border-radius: 0;
    padding: 15px;
    font-size: 20px;
    border: 3px solid #fff;
    line-height: 28px;
    box-sizing: border-box;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover,input:hover{
   cursor: pointer; 
   background: #fff;
   color: #000;
}